table {
  width: 640px;
  background-color: #f2f2f2;
  align: center;
   }
td, th { border: 1px solid #CCC;
          text-align: center;
        width: 60%;
        font-size: 80%;
      }
input[type=text], input[type=email], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

body  {
  font-family: 'Roboto', sans-serif;
  align-items: center;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.calendar {
  height: 300px;
  width: 90%;
}

.sortableHeader:hover {
  background-color: 'blue';
  opacity: 0.5;
  cursor: pointer;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

th:hover {
    cursor: pointer;
    background-color: #5c5c8a;
    opacity: 0.5;
}

.hoverableIcon:hover{
  cursor:pointer;
}

.hoverableIcon{
  text-align: center;
}

.notHoverableHeader{
   pointer-events: none;
}

@media screen  and (max-width: 950px) {

  table {
    width: 550px;
     }
  td, th {
          width: 60%;
          font-size: 70%;
        }
}


 @media screen  and (max-width: 750px) {

   table {
     width: 350px;
      }
   td, th {
           width: 50%;
           font-size: 60%;
         }
}
   @media screen and (max-width: 620px) {

     table {
       width: 250px;
        }
     td, th {
             width: 40%;
             font-size: 50%;
           }

           .priority-7{
             display:none;
           }
           .priority-6{
             display:none;
           }
}

    @media screen  and (max-width: 300px) {

       table {width: 150px;}
       td, th {width: 30%;
               font-size: 40%;}


       .priority-7{
         display:none;
       }
       .priority-6{
         display:none;
       }
       .priority-5{
         display:none;
       }
       .priority-4{
         display:none;
       }
 }
