table { width: 640px; } /* Make table wider */
td, th { border: 1px solid #CCC; } /* Add borders to cells */
input[type=text], input[type=email], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1225px) and (min-width: 1045px) {
  .priority-7{
    display:none;
  }

 }

 @media screen and (max-width: 1045px) and (min-width: 765px) {
   .priority-7{
     display:none;
   }
   .priority-6{
     display:none;
   }
   .priority-5{
     display:none;
   }
 }

 @media screen and (max-width: 765px) and (min-width: 450px) {

   .priority-7{
     display:none;
   }
   .priority-6{
     display:none;
   }
   .priority-5{
     display:none;
   }
   .priority-4{
     display:none;
   }
 }

 @media screen  and (max-width: 450px) and (min-width: 300px) {
   .priority-7{
     display:none;
   }
   .priority-6{
     display:none;
   }
   .priority-5{
     display:none;
   }
   .priority-4{
     display:none;
   }
   .priority-3{
     display:none;
   }
}
   @media screen and (max-width: 300px) {
     .priority-7{
       display:none;
     }
     .priority-6{
       display:none;
     }
     .priority-5{
       display:none;
     }
     .priority-4{
       display:none;
     }
     .priority-3{
       display:none;
     }
     .priority-2{
       display:none;
     }
     .priority-1{
       display:none;
     }

 }
